<div class="content">
  <div style="display: flex; justify-content: space-between">
    <div>
      <span class="Text-white"> Follow us at : </span>
      <span style="margin-right: 5px"
        ><img
          src="linkedin.svg"
          class="logo"
          width="20px"
          height="20px"
          alt="Logo"
      /></span>
      <span style="margin-right: 5px"
        ><img
          src="insta.svg"
          class="logo"
          width="20px"
          height="20px"
          alt="Logo"
      /></span>
      <span style="margin-right: 5px"
        ><img src="you.svg" class="logo" width="20px" height="20px" alt="Logo"
      /></span>
    </div>
    <div>
      <Span class="Text-white" style="margin-right: 10px">Company </Span>
      <Span class="Text-white" style="margin-right: 10px">About Us</Span>
      <Span class="Text-white">Trust, Safety & Security </Span>
    </div>
  </div>
  <div style="display: flex; justify-content: space-between; margin-top: 30px">
    <div>
      <Span class="Text-white">©️2023, Welmun Technologies Pvt Ltd </Span>
    </div>
    <div>
      <Span class="Text-white" style="margin-right: 10px">Accessibility </Span>
      <Span class="Text-white" style="margin-right: 10px"
        >Terms Of Service</Span
      >
      <Span class="Text-white">Privacy Policy </Span>
    </div>
  </div>
</div>
