.headingActive {
  font-family: Kanit;
  font-size: 20px;
  font-weight: 400;
  line-height: 29.9px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.imgInfo {
  text-align: center;
}

.thirdPart {
  font-family: Kanit;
  font-size: 16px;
  font-weight: 400;
  line-height: 23.92px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #4e4f54;
}

.infoSectionStyle {
  margin-bottom: 10px;
  width: 350px;
  height: 144.67px;
  padding: 16px;
  margin-left: 20px;
  gap: 16px;
  border-radius: 25px;
  opacity: 0px;
}
