<div style="background-color: white" class="infoSectionStyle">
  <div class="imgInfo">
    <img src="world.svg" class="logo" width="20px" height="20px" alt="Logo" />
  </div>
  <div class="headingActive">Get Validation from world</div>
  <div class="thirdPart">
    Get reviews from Qwego, clients & fellow freelancers.
  </div>
</div>
<div style="background-color: white" class="infoSectionStyle">
  <div class="imgInfo">
    <img src="start.svg" class="logo" width="20px" height="20px" alt="Logo" />
  </div>
  <div class="headingActive">Quality Assurance</div>
  <div class="thirdPart">
    Ace practical challenges to assure your potential clients of your quality &
    boost your chances.
  </div>
</div>
<div style="background-color: white" class="infoSectionStyle">
  <div class="imgInfo">
    <img src="growth.svg" class="logo" width="20px" height="20px" alt="Logo" />
  </div>
  <div class="headingActive">Lack of Experience? Not a Setback!</div>
  <div class="thirdPart">
    Showcase your true potential. Prove what you can actually deliver.
  </div>
</div>
