<div class="cardItem mt-5" style="background-color: white; border-radius: 20px; padding: 10px">
  <div class="headingActive">How Does It works?</div>
  <div class="firstSection">
    <div class="numericStyle"><span class="textStyle">1</span></div>
    <div class="numericStyle"><span class="textStyle">2</span></div>
    <div class="numericStyle"><span class="textStyle">3</span></div>
  </div>
  <div class="firstSection">
    <div class="secondContentStyle">
      <span class="textStyleContent">Select a Skill</span>
    </div>
    <div class="secondContentStyle">
      <span class="textStyleContent">Select Expertise</span>
    </div>
    <div class="secondContentStyle">
      <span class="textStyleContent">Qwe Generates a Problem</span>
    </div>
  </div>
  <div class="firstSection">
    <div class="thirdContentStyle">
      <div class="textStyleContent3">
        <div class="text-custom-center">Graphic Design</div>
        <hr />
        <div class="sdnd text-custom-center">UI/UX</div>
        <hr />
        <div class="text-custom-center">Content Writing</div>
        <hr />
        <div class="text-custom-center">Analytics</div>
        <hr />
        <div class="text-custom-center">Full Stack</div>
      </div>
    </div>
    <div class="thirdContentStyle">
      <div class="textStyleContent3">
        <div class="text-custom-center">Beginner</div>
        <hr />
        <div class="sdnd text-custom-center">Intermediate</div>
        <hr />
        <div class="text-custom-center">Expert</div>
      </div>
    </div>
    <div class="thirdContentStyle">
      <div class="textStyleAnother">
        A detailed real world problem statement for you to take up & prove your
        skills to the world!
      </div>
    </div>
  </div>
</div>
